
.passcodeContainer {
  margin-top: 4px;
}

.passcodeInputContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.passcodeInput {
  border-radius: 10px;
  font-size: 20px;
  width: 48px;
  height: 45px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(76, 32, 255, 0.7);
  border: 0;
}